###########################################
# Unity folders & files
**/Library/
**/obj/
**/Temp/
**/.vs/
**/Packages/manifest.json

###########################################
# Solution and Project files
*.csproj
*.unityproj
*.sln

##########################################
# Source Files
*.psd
*.max

############################################
# Package files
*.7z
*.gz
*.rar
*.tar
*.zip

###########################################
# Logs and databases
*.log
.DS_Stores*
Thumbs.db